<ng-select [items]="people$ | async"
           bindLabel="name"
           [addTag]="true"
           [multiple]="false"
           [hideSelected]="true"
           [trackByFn]="trackByFn"
           [minTermLength]="2"
           [loading]="peopleLoading"
           i18n-typeToSearchText="@@typeToSearchText"
           typeToSearchText="Please enter 2 or more characters"
           i18n-addTagText="@@addTagText"
           addTagText="Create"
           [typeahead]="peopleInput$"
           [(ngModel)]="selectedPerson"
           (blur)="selected($event)"
           (add)="add($event)"
           (change)="change($event)"
           #searchBar></ng-select>